<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title.toUpperCase() %></h1>

    <div id="todos"><%- include('_todos.html') %></div>

    <form method="post" action="/todos">
      <input name="title" />
      <button type="submit">Přidat todo</button>
    </form>

    <script>
      const ws = new WebSocket("ws://localhost:3000/ws")

      ws.addEventListener("message", (evt) => {
        const { type, html } = JSON.parse(evt.data)

        if (type === "todos") {
          const el = document.getElementById("todos")

          el.innerHTML = html
        }
      })
    </script>
  </body>
</html>
