<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title.toUpperCase() %></h1>

    <ul>
      <% for (const todo of todos) { %>
      <li>
        <a href="/todos/<%= todo.id %>">
          <%= todo.title %>
        </a>
        - <% if (todo.done) { %>
        <a href="/todos/<%= todo.id %>/toggle">dokončeno</a>
        <a href="/todos/<%= todo.id %>/remove">odebrat</a>
        <% } else { %>
        <a href="/todos/<%= todo.id %>/toggle">
          nedokončeno
        </a>
        <% } %> - <%= todo.priority %>
      </li>
      <% } %>
    </ul>

    <form method="post" action="/todos">
      <input name="title" />
      <button type="submit">Přidat todo</button>
    </form>
  </body>
</html>
